@import '../../generalStyling.scss';

#container{
    margin-top: $spaces-mobile;
    margin-bottom: $spaces-mobile;
    #parent{
        display: flex;
        flex-wrap: wrap;
        gap: $spaces-mobile;
    }
}

@media screen and (min-width: $breakpoint-md){
    #container{
        margin-top: $spaces-desktop;
        margin-bottom: $spaces-desktop;
    }
}