@import '../../generalStyling.scss';

label {
    width: 30%;
}

#product_form{
    margin-bottom: 1rem;
    margin-top: 1rem;
    // width: 100%;
}

#description-of-type{
    text-align: center;
    margin-top: 1rem;
}

@media screen and (min-width: $breakpoint-md) {
    #product_form{
        width: 30rem;
    }
}
