@import '../../generalStyling.scss';

#container{
    border-top: $border-width solid black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}