@import '../generalStyling.scss';

#parent{
    margin-left: $spaces-mobile;
    margin-right: $spaces-mobile;
    padding-top: $spaces-mobile;
}

@media screen and (min-width: $breakpoint-sm){
    #parent{
        margin-left: $spaces-desktop;
        margin-right: $spaces-desktop;
        padding-top: $spaces-desktop;
        display: flex;
        flex-direction: column;
        min-height: 100vh
    }
}